footer {
    height: 48px;
    background: #02A28F;

    p {
        padding-top: 17px;
        text-align: center;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}